# 14. 上传 bin 目录下的 packages 目录（可选）
- name: 上传 bin 目录下的 packages 目录
  if: steps.compile.outputs.status == 'success' && env.UPLOAD_BIN_DIR == 'true'
  run: |
    cd $WORKDIR/openwrt/bin
    tar -czvf OpenWrt_packages_${{ env.DEVICE_NAME }}_${{ env.FILE_DATE }}.tar.gz packages
    cp OpenWrt_packages_${{ env.DEVICE_NAME }}_${{ env.FILE_DATE }}.tar.gz $GITHUB_WORKSPACE/
  uses: actions/upload-artifact@v4
  with:
    name: OpenWrt_packages_${{ env.DEVICE_NAME }}_${{ env.FILE_DATE }}
    path: $GITHUB_WORKSPACE/OpenWrt_packages_${{ env.DEVICE_NAME }}_${{ env.FILE_DATE }}.tar.gz